<header>
  <nav class="flex  p-4 border ">
    <a class="mx-4 text-black font-bold" href="/">home</a>
    <a class="mx-4 text-black font-bold" href="/orders">orders</a>
    <a class="mx-4 text-black font-bold" href="/treat-list">treat list</a>
  </nav>
</header>
