<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <!-- <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include("./includes/navigation.ejs") %> 
    <div class="flex justify-center items-center h-screen w-full bg-blue-400">
      <div class="w-1/2 bg-white rounded shadow-2xl p-8 m-4">
        <h1
          class="block w-full text-center text-gray-800 text-2xl font-bold mb-6"
        >
          Add product
        </h1>
        <form action="/add-product" method="post">
         <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="first_name"
              >Mark</label
            >
            <input
              class="border py-2 px-3 text-grey-800"
              type="text"
              name="mark"
              id="first_name"
            />
          </div>
          <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="first_name"
              >Name</label
            >
            <input
              class="border py-2 px-3 text-grey-800"
              type="text"
              name="name"
              id="first_name"
            />
          </div>
          <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="last_name"
              >Modal</label
            >
            <input
              class="border py-2 px-3 text-grey-800"
              type="text"
              name="modal"
              id="last_name"
            />
          </div>
          <div class="flex flex-col mb-4">
            <label class="mb-2 font-bold text-lg text-gray-900" for="email"
              >Entery date</label
            >
            <input
              class="border py-2 px-3 text-grey-800"
              type="text"
              name="entryDate"
              id="email"
            />
          </div>
   
          <button
            class="
              block
              bg-black
              hover:bg-teal-600
              text-white
              uppercase
              text-lg
              mx-auto
              p-4
              rounded
            "
            type="submit"
          >
            Add product
          </button>
        </form>
        <a
          class="
            block
            w-full
            text-center
            no-underline
            mt-4
            text-sm text-gray-700
            hover:text-gray-900
          "
          href="/orders"
          >Do you want to see all orders ?</a
        >
      </div>
    </div>
  </body>
</html>
